.header {
  height: 80vh;
  background-color: $color-grey-dark-1;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(./background-img/frontend.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__top {
    padding: 7rem;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  // logo
  &__seenon-logos {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}
