.skills {
  background-color: #fff;
  grid-column: main-start/ main-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 33%));
  grid-template-rows: min-content max-content;
  grid-row-gap: 5rem;
  &__header {
    margin-right: 11%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    justify-self: flex-end;

    &-small {
      color: $color-grey-dark-1;
      font-size: 2rem;
    }
  }

  &__container--front-end {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    width: 80%;

    ul {
      list-style: none;
    }
  }
  &__container--back-end {
    grid-column: 2 / span 1;
    justify-self: center;
    width: 80%;
    ul {
      list-style: none;
    }
  }
  &__container--personal {
    grid-column: 3 / span 1;
    justify-self: center;
    width: 80%;
    ul {
      list-style: none;
    }
  }
}

.skill {
  &__data {
    color: $color-secondary;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__bar {
    width: 70%;
    height: 8px;
    background-color: #cfcfcf;
    border-radius: 3.125rem;
    display: inline-block;

    &__fill {
      height: 100%;
      border-radius: 3.125rem;
      background-color: $color-primary-dark;
    }
  }
}
