.skills {
  background-color: #fff;
  grid-column: main-start/ main-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 33%));
  grid-template-rows: min-content max-content;
  grid-row-gap: 5rem;

  animation: fadeIn 0.8s ease-in both;


  &__header {
    margin-right: 11%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    justify-self: flex-end;
    @media only screen and (max-width: $bp-small) {
      justify-self: stretch;
      margin-right: 0;
      text-align: center;
    } 

    &-small {
      color: $color-grey-dark-1;
      font-size: 2rem;
    }
  }

  &__container--front-end {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    width: 80%;
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    } 

    ul {
      list-style: none;
    }
  }
  &__container--back-end {
    grid-column: 2 / span 1;
    justify-self: center;
    width: 80%;
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    } 
    ul {
      list-style: none;
    }
  }
  &__container--personal {
    grid-column: 3 / span 1;
    justify-self: center;
    width: 80%;
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
    } 
    ul {
      list-style: none;
    }
  }
}

.skill {
  &__data {
    color: $color-secondary;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__bar {
    width: 70%;
    height: 8px;
    background-color: #cfcfcf;
    border-radius: 3.125rem;
    display: inline-block;

    &__fill {
      height: 100%;
      border-radius: 3.125rem;
      background-color: $color-primary-dark;
    }
  }
}

.animation-html {
  animation: bar-animation-html 3s ease-out;
}
.animation-css {
  animation: bar-animation-css 3s ease-out;
}
.animation-javascript {
  animation: bar-animation-javascript 3s ease-out;
}
.animation-react {
  animation: bar-animation-react 3s ease-out;
}
.animation-redux {
  animation: bar-animation-redux 3s ease-out;
}
.animation-reactrouter {
  animation: bar-animation-reactrouter 3s ease-out;
}
.animation-sass {
  animation: bar-animation-sass 3s ease-out;
}
.animation-sql {
  animation: bar-animation-sql 3s ease-out;
}
.animation-nodejs {
  animation: bar-animation-nodejs 3s ease-out;
}
.animation-logical-thinking {
  animation: bar-animation-logical-thinking 3s ease-out;
}
.animation-teamwork {
  animation: bar-animation-teamwork 3s ease-out;
}
.animation-problem-solving {
  animation: bar-animation-problem-solving 3s ease-out;
}
.animation-orgranizing {
  animation: bar-animation-orgranizing 3s ease-out;
}


@keyframes bar-animation-html {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes bar-animation-css {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes bar-animation-javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes bar-animation-react {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes bar-animation-redux {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes bar-animation-reactrouter {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes bar-animation-sass {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes bar-animation-sql {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes bar-animation-nodejs {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}
@keyframes bar-animation-logical-thinking {
  0% {
    width: 0px;
  }
  100% {
    width: 85%;
  }
}
@keyframes bar-animation-teamwork {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes bar-animation-problem-solving {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes bar-animation-orgranizing {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
