.header {
  height: 80vh;
  background-color: $color-grey-dark-1;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(./background-img/frontend.png);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__btn {
    align-self: start;
    justify-self: start;
  }
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
