.header {
  height: 80vh;
  background-color: $color-grey-dark-1;
  background-image: linear-gradient(
    rgba($color-secondary, 0.93),
    rgba($color-secondary, 0.93)
  );

  display: grid;
  // grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__infor {
    grid-column: 1 / span 3;
    background-image: linear-gradient(
        rgba($color-secondary, 0.93),
        rgba($color-secondary, 0.93)
      ),
      url(./background-img/frontend.png);
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__avatar {
    grid-column: 4 / span 1;
  }
}
