.footer{
    grid-column: column-start/ main-end;
    background-color: $color-secondary;

    padding: 6rem;

    &__container{
        text-align: center;
    }
    &__link{
        font-size: 2rem;
        color:$color-primary;
        text-decoration: none;
    }
    &__text{
        margin-top: 3rem;
        color: $color-grey-light-2;
        font-size: 1.1rem;
    }
}