.reference{
    grid-column: main-start/ col-end 6; 

    text-align: center;
    &__header{
        margin: 5rem 0;
    }

    &__infor__text{
        font-size: 2rem;
        color: $color-secondary;
        line-height: 3rem;
        text-align: center;

        &__name{
            font-size: 2.5rem;
        }
    }
}